.about-us-container {
  padding: 2rem;
  background: linear-gradient(to right, rgb(255, 255, 255), #efd9bc);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4), 0 4px 12px rgba(0, 0, 0, 0.1); /* White shadow combined with subtle black for depth */
  max-width: 100%; /* Adjust width based on your layout */
  margin: 0 auto; /* Center the section horizontally */
  background-clip: padding-box; /* Ensures shadow doesn't overlap */
  
}

.page-title {
  text-align: center;
  margin-bottom: 2rem;
  color: #030303;
}

/* Grid layout for member cards */
.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  text-align: center;
}
.supervosor-bar{
text-align: center;
}
      
/* Styling for individual member cards */
.member-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1.1rem;
  transition: transform 0.3s ease;
  
}

.member-card:hover {
  transform: scale(1.01);
}

.member-photo {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.member-card h2 {
  font-size: 1.2rem;
  margin: 0.1rem 0;
  
}

.role {
  font-weight: bold;
  color: #777;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
}

.email-link {
  background-color: #3498db; /* Blue */
}

.linkedin-link {
  background-color: #0077b5; /* LinkedIn Blue */
}

.contact-links a:hover {
  opacity: 0.8;
}

.linkedin-link {
  display: flex;
  align-items: center;
  color: #0077b5; /* LinkedIn Blue Color */
  text-decoration: none;
}
.dep{
  text-align: center;
}
.ed-mem{
  text-align: center;
}
.linkedin-link:hover {
  color: #005582; /* Darker LinkedIn Blue on Hover */
}

.linkedin-link svg {
  margin-right: 8px; /* Adds space between the icon and the text */
}
