/* Styles for the section */
.section {
  padding: 5rem 2rem;
  background: linear-gradient(to right, rgb(255, 255, 255), #efd9bc);
  text-align: center;
  max-width: 86%;
  margin: 0 auto;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}
.title {
  font-size: 2.3rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 3rem;
  letter-spacing: 0.03em;
}

/* Container for the objectives */
.objectivesContainer {
  position: relative;
  display: flex;
  flex-direction:row;
  gap: 3rem; /* Space between cards */
  padding-left: 3rem; /* Offset for the line and star */
  text-align: center;
}

/* Card styling */
.cardContainer {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: relative;
  width: 80%;
  align-items: center
  
;
}

/* Content inside each card */
.cardContent {
  position: relative;
  padding: 1rem 2rem;
  
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1.2rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
  
}

/* Green star icon */
.starIcon {
  font-size: 2rem;
  color: #e86060;
  position: absolute;
  left: -0rem;
  top: auto;
  transform: translateY(-40%);
  background-color: #fff;
  border: 1px solid #745110;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Green vertical line connecting the cards */
.lineConnector {
  position: absolute;
  width: 9px;
  height: 100%;
  background-color: #463311;
  top: 0;
  left: -0rem;
}

.lineConnector:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #745110;
  top: 50%;
  left: -11px;
  transform: translateY(-50%);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .objectivesContainer {
    padding-left: 3rem;
  }

  .starIcon {
    left: -2rem;
  }

  .lineConnector {
    left: -2rem;
  }
}
